
.title {
	text-align: center;
	color: white;
	line-height: 200px;
  
}
 
.hero-image {
	height: 200px;
	background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/JzkDavV/fast-white-glitter-on-the-water-of-the-sea-background-dark-turquoise-color_hqxtsw5ke_thumbnail-full01.png");
	background-position: center;
	background-size: cover;
}
  